{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="container">
<h4 class="text-center">Liste des articles</h4>
<p>Nombre d'article dans le panier : {{ panier | length }}</p>
 <div class="row">
 <div class="col-9">
 <table class="table">
  <thead>
    <tr>
     
      <th scope="col">Name</th>
      <th scope="col">image</th>
      <th scope="col">Quantité</th>
     
      <th scope="col">Prix</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>

  {% for article in panier %}
    <tr>
     
      <td>{{ article['article'].name }}</td>
     
    
    
       <td> <img src="{{ asset('images/' ~ article['article'].image ) }}" alt="" style="width: 50px"></td>


       <td>
       <a href="{{ path('add_panier', { 'id' : article['article'].id }) }}" class="btn  m-1">+</a>
       {{ article.quantity }} 
       <a href="{{ path('delete_quantite_panier', { 'id' : article['article'].id }) }}" class="btn  m-1">-</a></td>   
       <td>{{ article['article'].Prix  }} €</td>
          {% set ttc = article.quantity * article['article'].Prix  %}
       <td>{{ article['total_ttc'] }} €</td>
       <td><a href="{{ path('delete_article_panier', { 'id' : article['article'].id }) }}" class="btn btn-danger m-1"><i class="fas fa-trash"></i></a></td>
  
       
    </tr>
      
  {% endfor %}
    
   
  </tbody>
</table>
</div>
 
 <div class="col-3">
 <p>Total {{ total }}</p>
 
     <a href="{{ path('achat') }}" class=" btn btn-success"> acheter </a>

 </div>
 </div>






{% endblock %}
